body {
    margin: 0;
}

.menuContainer {
    width: 100%;
}

.menu {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #bebeff;
    border-radius: 5px;
    display: flex;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: #047fec;
    background-color: #fff;
}

.pinned {
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 3px 0px;
}

.menuItem {
    height: 50px;
    line-height: 50px;
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #bebeff;
}

.menuItem:last-child {
    border: none;
}

.record {
    border: 1px solid #eee;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 500px;
}

.record-header {
    background: white;
    margin: 0;
    padding: 22px 0;
}

.record-header-container {
    width: 500px;
}

.record-body {
    line-height: 1.5;
}

.record-header-pinned {
    border-bottom: 1px solid red;
}